/* CSS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/*=================== 
        Hero header
====================== */

header {
  color: #fff;
  text-align: center;
}

.hero-image {
  background-color: #000000;
  background-image: linear-gradient(45deg, rgba(70, 70, 73, 0.753), rgba(129, 128, 126, 0.774)), url('/resources/css/img/hero1-min.jpg');
  background-size: cover;
  background-position: 40% center;
  background-repeat: no-repeat;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.hero-image h1{
  color:rgb(255, 208, 0);
  margin: 20px;
  font-size: 76px;
  font-family: 'Bungee', sans-serif;
  text-transform: uppercase;
}
.hero-image a{
  background-color: rgb(255, 208, 0);
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #0a0a0a;
  text-transform: uppercase;
}
/*==================== 
        menu
====================== */
.nav {
  height: 60px;
  width: 100%;
  background-color: rgb(255, 208, 0);
  position: relative;
  display: flex;
  justify-content: space-between;
}

.nav > .container-nav {
  display: inline;
}

.nav > .container-nav > img {
  width: 100px;
  height: 100px;
  margin-left: 20px;
  position: relative;
  z-index: 1;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  height: 60px;
  display: flex;
  float: right;
  font-size: 18px;
  margin-right: 40px;
  gap: 10px;
}

.nav-links ion-icon{
  font-size: 32px;
}
.nav > .nav-links > a {
  display: inline-block;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #161616;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:740px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 5px solid #1f1d1d;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgb(255, 208, 0);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    text-align: center;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    background-color: rgb(255, 208, 0);
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: 40vh;
    overflow-y: auto;
  }
}
/*==================== 
        sobre
====================== */
.sobre-academia{
  background-color: #ffffff;
}
.titulo{
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.titulo p{
  color: #000000;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
}
.titulo p::first-letter{
  font-size: 28px;
  color: rgb(255, 208, 0);
}
.titulo h2{
  font-size: 32px;
  color: rgb(255, 208, 0);
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 35px;
  font-weight: 700;
  position: relative;
  text-align: center;
}
.container-sobre{
  padding: 10px;
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.container-sobre .card{
  background-color: #c0c0c0;
  width: 350px;
  height: 100%;
  position: relative;
  cursor: pointer;
  border: none;
}
.container-sobre .card .face{  
  height: 350px;
  transition: 0.5s;
}
.container-sobre .card .face.face1{
  height: 200px;
  position: relative;
  background:  #dfbf69;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}
.container-sobre .card:hover .face.face1{
  background: rgb(255, 208, 0);
  transform: translateY(0);
}
.container-sobre .card .face.face1 .content{
  transition: 0.5s;
}
.container-sobre .card:hover .face.face1 .content{
  opacity: 1;
}
.container-sobre .card .face.face1 .content img{
  max-width: 100%;
  height: 200px;
}
.container-sobre .card .face.face1 .content h2{
  margin-top: 40px;
  color: #fffcfc;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-size: 1.5em;
}
.container-sobre .card .face.face2{
  position: relative;
  height: 200px;
  background: #F0eeee;
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 10px;
  box-sizing: border-box;
  transform: translateY(-100px);
}
.container-sobre .card:hover .face.face2{
  transform: translateY(0);
  z-index: 2;
}
.container-sobre .card .face.face2 .content p{
  margin: 0;
  padding: 0;
}
.container-sobre .card .face.face2 .content a{
  background-color: rgb(255, 208, 0);
  margin-top: 10px;
  display:  inline-block;
  text-decoration: none;
  color: #333;
  padding: 5px;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  color: #030303;
  font-weight: 700;
  padding: 10px;  
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-sobre .card .face.face2 .content a:hover{
  background-color: rgb(255, 208, 0);
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  color: #030303;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s ease;
  cursor: pointer;
}
/*==================== 
        Planos
====================== */  
.planos{ 
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 40px;
}
.plano{
  width: 500px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.plano p{
  color: #000000;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
}
.plano p::first-letter{
  font-size: 28px;
  color: rgb(255, 208, 0);
}
.plano h2{
  margin: 40px;
  font-size: 32px;
  text-align: center;
  color: rgb(255, 208, 0);
  text-transform: uppercase;
  text-decoration: underline;  
  font-weight: 700;
  position: relative;
}
.container-card{
  display: grid;
  max-width: 1020px;
  grid-auto-flow: column;
  overflow-x: auto;
  gap: 10px;
  padding: 10px;
  margin: 10px;
}
.container-profile{
  display: none;
}
.card-plano{
  text-align: center;
  width: 200px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-plano h2{
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Bungee', sans-serif;
}
.card-img{
  position: relative;
  width: 100px;
  height: 100px;
  border: 2px solid #000000;
  border-radius: 50%;
  margin-bottom: 10px;
}
.card-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.card-img::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  z-index: -1;
  width: calc(100% + 13px);
  height: calc(100% + 13px);
  border-radius: 50%;
}  
@media(max-width: 428px){
  .plano h2{
    margin: 40px;
    font-size: 32px;
    text-align: center;
    color: rgb(255, 208, 0);
    text-transform: uppercase;  
    font-weight: 700;
    position: relative;
  }
}
@media(max-width: 523px){
  .plano h2{
    margin: 40px;
    font-size: 32px;
    text-align: center;
    color: rgb(255, 208, 0);
    text-transform: uppercase;  
    font-weight: 700;
    position: relative;
  }
}
/*==================== 
        galeria
====================== */
.container-galeria{
  display: flex;
  flex-direction: column;
  margin: 60px 0 40px 0;
}
.galeria-section {
  color: #f1eded;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
}
.container-paragrafo p{
  color: #000000;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
}
.container-paragrafo p::first-letter{
  font-size: 28px;
  color: rgb(255, 208, 0);
}
.container-paragrafo{
  width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.container-paragrafo h2{
  margin: 40px;
  font-size: 32px;
  text-align: center;
  color: rgb(255, 208, 0);
  text-transform: uppercase; 
  text-decoration: underline; 
  font-weight: 700;
  position: relative;
}
.album{
  flex: 1 1 50%;
  max-width: 800px;  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* Estilo para cada foto */
.fotos {
  width: calc(20% - 10px);
  margin: 5px;
}
/* Estilo para a imagem */
.fotos img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}
@media(max-width: 523px){
  .album{
    flex: 1 1 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
  }

  .fotos {
    width: calc(50% - 30px);
    margin: 5px;
  }
  .galeria-section h2{
    margin: 40px;
    font-size: 32px;
    text-align: center;
    color: rgb(255, 208, 0);
    text-transform: uppercase;  
    font-weight: 700;
    position: relative;
  }
}
/*==================== 
        formulário
====================== */
.container-form{
  background-color: #eeebeb;
  display: flex;
  padding: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container-formulario {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;    
  align-items:  center;
}
.container-form .title {
  position: relative;
  text-align: center;
  font-size:35px; 
  font-weight:bold;
  text-transform: uppercase;
  letter-spacing:5px; 
  color:rgb(255, 208, 0);
}
.container-form .subtitle {
  line-height:2em; 
  padding-bottom:15px;
  text-transform: none;
  font-size:18px;
  font-weight: bold;
  font-family: 'open_sanslight';
  color:#000000; 
  letter-spacing:10px; 
}
.container-form .title:after, .container-form .title:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 45px;
  height: 4px;
  content: "";
  right: 45px; 
  margin:auto;
  background-color: #ece6e6;
}
.container-form .title:before { 
  background-color:rgb(255, 208, 0);
  left:45px; width:90px;
}
.banner{
  width: 700px;
  height: 700px;
  padding: 40px;
  margin: 10px;
}
.banner img{
  border-radius: 10%;
  width: 100%;
  height: 100%;
}
.formulario {
    width: 700px;
    margin: 20px;
    padding: 60px 5%;
    text-align: center;
}

.formulario ion-icon{
  font-size: 32px;
}
.formulario span {
  position: relative;
  display: flex;
  margin: 45px 10px;
}
.input-card {  
  display: inline-block;
  width: 80vw;
  padding: 10px 0 13px 55px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #242424;
  background: #dadada;
  border: 0;
  border-radius: 3px;
  outline: 0;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
.input-card{

  color: #242424;
  font-weight: 700;
}
.input-card + label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 5px;
  text-shadow: 0 1px 0 rgba(97, 97, 97, 0.671);
  background: rgb(255, 208, 0);
  color: #ffffff;
  transition: all .3s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transform-origin: right center;
  transform: perspective(300px) scaleX(1) rotateY(0deg);
}
.input-card:focus,
.input-card:active {  
  color: #000000;
  padding: 10px 0 13px 10px;
  background: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-card:focus,
.input-card:active{
  color: #aaa;
}
.input-card:focus + label,
.input-card:active + label {
  transform: perspective(600px) translateX(-100%) rotateY(75deg);
}
.textarea-card {
  display: inline-block;
  width: 100%;
  height: 87px;
  padding: 10px 0 13px 55px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #242424;
  background: #dadada;
  border: 0;
  border-radius: 3px;
  outline: 0;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
.textarea-card{  
  color: #242424;
  font-weight: 700;
}
.textarea-card + label { 
  height: 87px;
  line-height: 66px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 5px;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  background: rgb(255, 208, 0);
  color: #ffffff;
  transition: all .3s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transform-origin: right center;
  transform: perspective(300px) scaleX(1) rotateY(0deg);
}
.textarea-card:focus,
.textarea-card:active {  
  color: #aaa;
  padding: 10px 0 13px 10px;
  background: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

}
.textarea-card:focus + label,
.textarea-card:active + label {
  transform: perspective(600px) translateX(-100%) rotateY(75deg);
}
/*Botão*/
.btn-submit {
  background-color: rgb(255, 208, 0);
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  color: #030303;
  text-decoration: none;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn-submit:hover { 
  color: #ffffff;
  padding-left: 8px;
}
@media(max-width: 574px){
  .banner{
    width: 100%;
    height: auto;
    padding: 40px;
    margin: 10px;
  }
}
/*==================== 
        footer
====================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
footer{
  background-color: rgb(97, 97, 97);
  padding: 70px 0;
  color: rgb(255, 208, 0);
  display: flex;  
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
footer .container{
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgb(105, 105, 105);
  width:100%;
  font-family: 'Poppins', sans-serif;
  margin:auto;
  display: flex;  
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10PX;
  padding-top: 30px;
}
.footer-menu{
  width: 200px;
}
.footer-menu:nth-child(3){
  width: 300px;
}
.footer-menu p{
  color: #000000;
  text-align: center;
  font-weight: 500;
}
.row{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
}
.container ul{
  list-style: none;  
  display: flex;
  flex-direction: column;
 align-items: center;
 flex-grow: 2;
}
.col{
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col h2{
  font-size: 18px;
  color: rgb(255, 208, 0);
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.col h2::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: rgb(255, 208, 0);
  height: 2px;
  box-sizing: border-box;
  width: 100%;
}
.col ul li:not(:last-child){
  margin-bottom: 10px;
}
.col ul li a {
  font-size: 15px;
  text-transform: capitalize;
  color: #9a9e9b;
  text-decoration: none;
  font-weight: 300;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}
.col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}
.container img{
  width: 200px;
  height: 200px;
  position: relative;
  margin: 20px;
  padding: 20px;
}
.col .social-links ion-icon{
  font-size: 32px;
  margin-right: 10px;
  
}
/*responsive*/
@media(max-width: 767px){
  .col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .col{
    width: 100%;
}
}

/* area restrita */
.login{
  background-image: linear-gradient(45deg, rgba(70, 70, 73, 0.753), rgba(129, 128, 126, 0.774)), url('/resources/css/img/montanha.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.card2 form{
  background: rgba(161, 159, 159, 0.61);
  width: 600px;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  align-content: center;
  text-transform: uppercase;
}
label{
  margin-top: 10px;
}
input{
  width: 60%;
  height: 40px;
  border: none;
  margin-top: 5px;
  text-align: center;
}
.btn{
  background-color: rgb(255, 208, 0);
  width: 60%;
  height: 40px;
  margin-top: 20px;
}
.checkbox{
  width: 20px;
  height: 20px;
  position: relative;
  margin-top: 20px;
}
hr {
  border: solid #000 1px;
  width:60%;
  text-align:left;
  margin-left:0;
} 
ul{
  margin-top: 10px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}  
a{
  color: #000;

}
@media (max-width:1419px)   {
  .card1{
      display: none;
  }
}
